h1::before {
    content: 'Город ';
    color: red;
    font-size: 50px:
    border-radius: 10px;
    background-color: bisque;
}

h1::after {
    content: ' -лучший';
    color: red;
    font-size: 50px:
    border-radius: 10px;
    background-color: bisque;
}

h1::first-letter {
    color: deeppink;
    font-size: 50px;
    border-radius: 10px;
    background-color: bisque;
}

div {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    border-radius: 50%;
    position: fixed;
    transition: 1s;
    top: 500px;
    left: 300px;
}

div:hover {
    background-color: #0080ff;
    width: 150px;
    height: 150px;
    transition: 1s;
}

a:link {
    color: deeppink;
}

a:visited {
    color: green;
}

a:active {
    color: blue;
}